@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>ModifiedDate</th>
            <th>IsAvailable</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.ModifiedDate</td>
                    <td>@product.IsInStock</td>
                </tr>
            }
    </tbody>
</table>
